<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minimal Twitter</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container has-text-centered">
        <div>
            <h1 class="title">Minimal Twitter</h1>

            <div sec:authorize="isAuthenticated()">
                <div class="box">
                    Hello, <strong th:text="${#authentication.getName()}"></strong>!
                    Go to your feed here: <a th:href="@{'/users/' + ${#authentication.getName()} + '/tweets'}">Go to my Feed</a>
                </div>
            </div>

            <div sec:authorize="isAnonymous()">
                <div class="box">
                    <p> You are not logged in, please log in below!</p>
                    <a class="button login is-primary"
                       th:href="@{/login}">Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>